  <div class="center-card">
    <div class="container text-center my-4 items-align-center">
     <div class="flex-row flex-direction">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left2 d-none d-md-flex">

          </div>
          <div class="card-body my-4">
            <h2>Renvoyer les instructions de changement de mot de passe</h2>

            <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "regularform" %>
            </div>

            <div class="actions">
              <%= f.submit "Resend unlock instructions", class: "btn btn-primary" %>
            </div>
            <% end %>
            <div class="my-3">
            <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>