<div class="text-center m-4 p-3">
<img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
<h6 class='my-4'>Changer votre photo :</h6>
<% if @user.avatar.attached? %>
<%= image_tag @user.thumbnail, alt: 'avatar' %>
<% else %>
<%= image_tag "placeholder.png", alt: 'item picture' %>  
<%end%>
<p class="my-2">Changer l'image:</p>
<%= form_tag user_avatars_path(@user), multipart: true do %>
<%= file_field_tag :avatar, class: "btn btn-light" %>
<%= submit_tag "Enregistrer", class: "btn btn-dark" %>
<% end %>
<input type="file" class="text-center center-block file-upload">
</div>