<div class="container bootstrap snippet my-5">
<%= form_tag url_for(action: 'update'), method: "patch", id:"editForm", authenticity_token: true do %>
        <h3>Modifier mes informations</h3>
        <div class="form-group">
            <div class="col-xs-6">
              <%= label_tag 'Prénom :' %>
              <%= text_field_tag :first_name, @user.first_name, class:'form-control' %>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6">
              <%= label_tag 'Nom :' %>
              <%= text_field_tag :last_name, @user.last_name, class:'form-control' %>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6">
              <%= label_tag 'Email :' %>
              <%= text_field_tag :email, @user.email, class:'form-control' %>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                  <br>
                  <%= submit_tag "Modifier mes informations personnelles", class:"btn btn-dark" %>
            </div>
        </div>
      <% end %>
  </div>     
  <hr>
<div class="container bootstrap snippet my-5">
  <h3 class="my-3">Vos compétences :</h3>
  <h6>Compétence principale: </h6>
  <%= render 'primary_skill_form'%>

  <h6>Compétence secondaire: </h6>
  <%= render 'secondary_skill_form'%>
</div>
<hr>
