<div class="container bootstrap snippet my-5">

    <% if @attendances.length < 1 %>
    <%= link_to "Ici pour s'inscrire", projects_path, :class =>"btn btn-sm btn-secondary" %>

    
<%else%>
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Nom du projet</th>
                <th>État du projet</th>
                <th>Date de commande</th>
                <th>Montant réglé</th>
                        
            </tr>
        </thead>

        <tbody>
        <% @attendances.each do |attendance| %>
            <tr>
                <td><%= attendance.project.title %></td>
                <td><%= attendance.state %></td>
                <td><%= attendance.created_at.strftime("%d/%m/%Y") %></td>
                <td><%= attendance.price_attendee.to_f / 100 %></td>
                        
            </tr>
        <%end%>
        </tbody>

        </table>
<%end%>
   
</div>