<div class="container bootstrap snippet my-4">

<% if @user.skills.length == 0 %>
<p>Il faut choisir une compétence principale avant d'en choisir une seconde !</p>
<% elsif @user.skills.length == 1 %>
	<%= form_tag(user_skill_setups_path(@user.id), :action => "create", :method => "post") do %>
		<%= hidden_field_tag :primary, false %>
		<%= select_tag(:skill_id, options_for_select(@skills.map {|skill| [skill.title, skill.id] }), :include_blank => true)%>
		<%= submit_tag "Enregistrer", class: "btn btn-primary mx-4"%>
	<%end%>

<% elsif @user.skills.length == 2 %>
<p>Vous avez choisi la compétence : <span class ="text-primary font-weight-bold"><%=@skill_setup_secondary.skill.title%></span></p>
	<%= form_tag(user_skill_setup_path(@user.id, @skill_setup_secondary.id), :action => "update", :method => "patch") do %>
		<%= hidden_field_tag :primary, false %>
		<%= select_tag(:skill_id, options_for_select(@skills.map {|skill| [skill.title, skill.id] }), :include_blank => true, :prompt => @skill_setup_secondary.skill.title)%>
		<%= submit_tag "Modifier", class: "btn btn-dark mx-4"%>
	<%end%>

<% end %>
</div>