<% if @user.skills.length < 1 %>

<p>Il faut choisir une compétence principale avant d'en choisir une seconde ! </p>

<% elsif @user.skills.length == 1 %>

	<%= form_tag(user_skill_setups_path(@user.id), :action => "create", :method => "post") do %>
		<%= hidden_field_tag :primary, false %>
		<%= select_tag(:skill_id, options_for_select(@skills.map {|skill| [skill.title, skill.id] }), :include_blank => true )%>
		<%= submit_tag "Enregistrer les modifications", class: "btn btn-dark"%>
	<%end%>

<% else %>

<p>Vous avez défini la compétence secondaire suivante : <%= @skill_setup_secondary.skill.title %></p>

	<%= form_tag(user_skill_setup_path(@user.id, @skill_setup_secondary.id), :action => "update", :method => "patch") do %>
		<%= hidden_field_tag :primary, false %>
		<%= select_tag(:skill_id, options_for_select(@skills.map {|skill| [skill.title, skill.id] }), :include_blank => true)%>
		<%= submit_tag "Enregistrer les modifications", class: "btn btn-dark"%>
	<%end%>

<% end %>