  <div class="center-card">
    <div class="container text-center my-4 items-align-center">
     <div class="flex-row flex-direction">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left2 d-none d-md-flex">
          
         </div>
         <div class="card-body my-4">
          <h2>Mot de passe oublié ?</h2>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field my-4">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "regularform" %>
          </div>
          <br>
          <div class="actions">
            <%= f.submit "Envoyez-moi les instructions pour réinitialiser le mot de passe", class: "btn btn-primary" %>
          </div>
          <% end %>
          <br>
          <%= render "devise/shared/links" %>

        </div>
      </div>
    </div>
  </div>
</div>
</div>