<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Projets à valider</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titre</th>
                        <th>Date de début</th>
                        <th>État</th>
                        <th>Publication</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <% @projects.each do |project| %>
                    <% if project.state == "paid" %>
                    <tr>
                        <td><%= project.id %></td>
                        <td><%= project.title.capitalize %></td>
                        <td><%= project.start_date.strftime("%d/%m/%Y à %I:%M")%></td>
                        <td><%= project.state %></td>
                        <td><%= button_to "Valider", admin_project_submission_path(project.id), method:"patch", class:"btn btn-sm btn-warning" %>   
                        </td>

                        <td>
                            <%= link_to admin_project_path(project.id) do %>
                            <i class="far fa-eye" style="color:black;" ></i> 
                            <% end %>
                            <%= link_to edit_admin_project_path(project.id), method: 'get' do %>
                            <i class="far fa-edit" style="color:black;"></i>
                            <% end %>
                            <%= link_to admin_project_path(project.id), :method => :delete, data: { confirm: 'Souhaitez-vous supprimer définitivement ce projet?' } do %>
                            <i class="far fa-trash-alt" style="color:red;"></i>
                            <% end %>
                        </td>
                    </tr>
                    <%end%>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
