<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Les projets</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titre</th>
                        <th>Date de début</th>
                        <th>État</th>
                        <th>Publication</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                <% @projects.each do |project| %>
                    <tr>
                        <td><%= project.id %></td>
                        <td><%= project.title.capitalize %></td>
                        <td><%= project.start_date.strftime("%d/%m/%Y à %I:%M")%></td>
                        <td><%= project.state %></td>
                        <td>
                            <% if project.state == "paid" %>
                            <%= button_to "Valider", admin_project_submission_path(project.id), method:"patch", class:"btn btn-sm btn-warning" %>
                            <% elsif project.state == "published" %>
                            <%= button_to "Dépublier", admin_project_submission_path(project.id), method:"delete", class:"btn btn-sm btn-danger" %>
                            <% else %>
                            <p> Non publiable </p>
                            <%end%>
                                
                        </td>                        
                        <td><i class="far fa-eye"></i>   <i class="far fa-edit"></i>   <i class="far fa-trash-alt"></i></td>
                    </tr>
                    <%end%>
                </tbody>
            </table>
        </div>
    </div>
