<div class="tab-pane pb-5" id="group">
	<div class="container-fluid">
		<div class="card no-border">
			<div class="card-body my-4">
				<h5 class="card-title">Participants au projet "<%= @project.title %>"</h5>

				<p class="card-text"><%= @project.owner.first_name.capitalize %> : <%= @project.owner.email %> <span class="text-muted">(Porteur du projet)</span> </p>
				<% @attendees.each do |a| %>
				<p class="card-text"><%= a.first_name.capitalize %> : <%= a.email %></p>
				<%end%>
			</div>
		</div>
	</div>
</div>