<h2 class="my-3"> Mon espace admin</h2>
<table class="table shadow p-3 mb-5 bg-white rounded">

  <tbody>
    <tr>
      <th scope="row" class="text-secondary"> <h6> Nom de mon projet </h6> </th>
      <td class="text-secondary"> <%= @project.title.capitalize %> </td>
    </tr>

    <tr>
      <th scope="row" class="text-secondary"> <h6> Nom des participants et <br> leurs compétences </h6> </th>
      <td class="text-secondary"> <% @project.attendees.each do |participant|%>
        <% if @project.attendees.length > 0  %>
        <p> 
          <%= participant.first_name %> <%=participant.last_name.capitalize %> - 
          <% if participant.skills.length > 0 %>
          <%= primary_skill(participant) %>
        </p>
        <%end%>
        <% else %>
        <p> Aucun participant pour le moment </p>
        <% end %>

        <% end %>
      </td>
    </tr>

    <tr>
      <th scope="row" class="text-secondary"> <h6> Nombre de participants </h6> </th>
      <td class="text-secondary"> <%= @project.attendees.length.to_i %> </td>
    </tr>

    <tr>
      <th scope="row" class="text-secondary"> <h6> Dates de mon projet </h6> </th>
      <td class="text-secondary">
        <p>Commence le <%= @project.start_date.strftime("%d/%m/%Y à %I:%M") %> </p>
        <p>Termine le <%= @project.end_date.strftime("%d/%m/%Y à %I:%M") %> </p>
      </td>
    </tr>

    <tr>
      <th scope="row" class="text-secondary"> <h6> Etat de mon projet</h6> </th>
      <td class="text-secondary">  
        <p class="mb-3"><%= @project.state %></p>
        <%if @project.state == "draft" ||  @project.state == "submitted"%>
          <p><%= button_to "Modifier mon projet", edit_project_path(@project.id), method: 'get', class:"btn btn-secondary" %></p>
        <%else%>
          <p> Votre projet a été déjà publié et ne peut plus être modifié.<p>
        <%end%>
        </td>
      </tr>

    </tbody>
  </table>
