
<section class="product-shop spad page-details">
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				<div class="row">
					<div class="col-lg-6">
						<div class="product-pic-zoom">
							<img src="#">
						</div>
					</div>
					<div class="col-lg-6">
						<div class="product-details">
							<div class="pd-title">
								<h3> Projet : <%= @project.title.capitalize %> </h3>
								<br>
							</div>
							<div class="pd-desc">
								<% if @project.state == "published" ||  @project.state == "finished" %>
									<h6>Le projet en 2 mots </h6>
									<p><%= @project.short_description %> </p>
									<br>
									<h6>Description détaillée du projet </h6>
									<% if user_signed_in? %>
										<p><%= @project.long_description %> </p>
									<%else%>
										<p><%= link_to 'Connectez-vous', user_session_path%> pour voir cette information.</p>
									<%end%>
									<br>
									<h6>Projet proposé par : </h6>
									<p><%= @project.owner.first_name.capitalize %> <%= @project.owner.last_name[1].capitalize %>. </p>
									<br>
									<h6>Dates </h6>
									<p>Commence le <%= @project.start_date.strftime("%d/%m/%Y à %I:%M") %> </p>
									<p>Termine le <%= @project.end_date.strftime("%d/%m/%Y à %I:%M") %> </p>
									<h6>Places disponibles :  <%= @project.attendees_goal.to_i - @project.attendees.length.to_i %></h6>
									<h6>Participants : </h6>
									<% if user_signed_in? %>
										<% @project.attendees.each do |participant|%>
										<ul>
											<p><li><%= participant.first_name %> <%=participant.last_name[1].capitalize %>. </li></p>
										</ul>
										<% end %>
									<%else%>
										<p><%= link_to 'Connectez-vous', user_session_path %> pour voir cette information.</p>
									<%end%>

									<br>
									<h6>Prix :</h6>
									<p><%= @project.package.price_attendee.to_f / 100 %>€</p>
									<br>
									<%= button_to "S'inscrire", new_project_attendance_path(@project.id), class:"btn btn-primary btn-small text-uppercase js-scroll-trigger"%>
									<br>
									<p><%= button_to "Voir les autres projets", projects_path, method: 'get', class:"btn btn-secondary" %></p>


								<% if current_user == @project.owner%>
									<% if @project.state == "draft" %>
									<p>Vous n'avez pas encore publié votre projet.</p>

									<%= link_to "Editer ou publier le projet", edit_project_path(@project.id)%>
									<% end %> 
									<%= link_to "Créer un nouveau projet", new_project_path%>

								<% end %>

								<% end%>

							</div>

						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
</section>
