<div class="container mt-1">
	<div class="row">
		<div class="col-md-8 mb-4 pb-4">
			<div class="d-flex justify-content-center my-4">
				<%if @project.image.attached?%>
					<%= image_tag @project.banner, alt: 'project image', class:"my-4 mx-4" %>
					<div class="product-image text-center my-4">
						<% if current_user == @project.owner %>
							<%= link_to "Changer l'image", edit_project_path(@project.id)%>
						<%end%>
					</div>
				<%else%>
					<%= image_tag("no-image.jpg", class:"my-4 mx-4", alt: "placeholder")%>
					<div class="product-image text-center my-4">
						<% if current_user == @project.owner %>
							<%= render 'images/images_form', project: @project %>
						<%end%>
					</div>
				<%end%>
			</div>
			<div class="product-details shadow p-3 mt-4 mb-5 bg-white rounded">
				<div class="pd-title text-center">
					<h1 class="text-primary my-4"> Projet : <%= @project.title.capitalize %> </h1>
					<p class="my-4"><%= raw @project.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(' ') %></p>
				</div>

				<div class="container pd-desc p-5 mb-4">
					<% if @project.state == "published" ||  @project.state == "finished" %>
						<h4>Le projet en 2 mots </h4>
						<p><%= @project.short_description%></p>
					<br>
						<h4>Description détaillée du projet </h4>
							<%if user_signed_in?%>
								<p><%= @project.long_description %> </p>
							<%else%>
								<p><%= link_to 'Connectez-vous', user_session_path%> pour voir cette information.</p>
							<%end%>
					<br>
					<h4>Projet proposé par : </h4>
					<p><%= @project.owner.first_name.capitalize %> <%= @project.owner.last_name[0].capitalize %> </p>
					<br>
					<h4>Dates : </h4>
					<p>Commence le <%= @project.start_date.strftime("%d/%m/%Y à %I:%M") %> </p>
					<p>Termine le <%= @project.end_date.strftime("%d/%m/%Y à %I:%M") %> </p>
					<br>
					<h4>Places disponibles :  <%= @project.attendees_goal.to_i - @project.attendees.length.to_i %></h4><br>
					<h4>Participants : </h4>
						<% if user_signed_in? %> 
							<% if @project.attendees.length > 0 %>
								<% @project.attendees.each do |participant|%>
									<ul>
										<p><li><%= participant.first_name.capitalize %> <%=participant.last_name[0].capitalize %></li></p>
									</ul>
								<% end %>
							<% else %>
							<p>Il n'y a aucun participant pour le moment.</p>
							<% end %>
						<%else%>
							<p>Connectez-vous pour avoir accès à la liste des participants.</p>
							<p><%= link_to 'Connectez-vous', user_session_path %> pour voir cette information.</p>
						<%end%>
					<br>
					<h4 class="text-primary">Prix :</h4>
					<p><%= @project.package.price_attendee.to_f / 100 %> €</p>
					<br>
					<% end %>
					
					<% if @project.state == "published" %>
            <% if @project.full? %>
              <p class="text-uppercase"> Complet</p>
            <% elsif user_signed_in? %>
               <% if @user_attendance %>
                <p>Vous êtes inscrit à ce projet.</p>
              <% elsif current_user.is_available?(@project) == false %>
                <p>Vous êtes déjà inscrit à un projet sur ces dates.</p>

              <% else %>
                <%= button_to "S'inscrire à ce projet", new_project_attendance_path(@project.id), method: 'get', class:"btn btn-primary"%>
              <% end %>
					  <%else%>
					    <%= button_to "S'inscrire à ce projet", new_project_attendance_path(@project.id), method: 'get', class:"btn btn-primary"%>
						<%end%>
					<%elsif @project.state == "finished"%>
						<p class='my-3'>Ce projet est terminé.</p>
						<p class="my-3"><%= button_to "Voir les autres projets", projects_path, method: 'get', class:"btn btn-secondary my-4" %></p>
					<% end %>
						<% if current_user == @project.owner%>
							<%= render 'ownerproject' %>
								<% if @project.state == "draft" %>
									<p class="my-3">Votre projet n'est pas encore publié : vous devez le compléter et acheter un package pour qu'il soit publié.</p>
									<%= link_to "Editer votre projet", edit_project_path(@project.id), class:"btn btn-sm btn-primary my-3 mx-3"%>
								<% end %> 
							<%= link_to "Créer un nouveau projet", new_project_path, class:"btn btn-sm btn-secondary my-3 mx-3"%>
						<% end %>
				</div>
			</div>
		</div>

		<div class="col-4 my-5">
			<div class="text-center my-4">
				<h5>Projet proposé par :</h5>
				<% if @project.owner.avatar.attached? %>
					<%= image_tag url_for(@project.owner.thumbnail), alt: 'avatar', class:"avatar-small img-circle img-thumbnail my-3" %>
					<% else %>
						<%= image_tag asset_path("avatar_2x.png"), class:"avatar-small img-circle img-thumbnail my-3", alt:"avatar"%>
					<%end%>
					<h6 class="text-secondary"><%= @project.owner.first_name.capitalize %> <%= @project.owner.last_name.capitalize %> </h6>
					<%= link_to "Voir son profil ", user_path(@project.owner.id), :class =>"btn btn-sm btn-primary" %>
			</div>

				<div class="text-center p-5 font-small my-4">
					<h6>Ses compétences :</h6>
						<% if @project.owner.skills.length >= 1 %>
							<p><%= @skill_primary.skill.title %></p>
						<% else %>
							<p>Ce membre n'a pas encore indiqué ses compétences.</p>
							<% if current_user == @project.owner%>
								<%= link_to "Modifier", edit_user_path(current_user.id), :class =>"btn btn-sm btn-dark" %>
							<%end%>
						<%end%>
						<% if @project.owner.skills.length >= 2 %>
							<p><%= @skill_secondary.skill.title %></p>
						<%end%>
				</div>

			<div class="text-center my-4">
				<p>Partager ce projet sur </p>
				<%= link_to image_tag('https://www.facebook.com/images/fb_icon_325x325.png', height: '60', width: '60'), 'http://www.facebook.com/sharer.php?u=https://dazzle-yourself.herokuapp.com'+request.fullpath, :target => :blank %>
			</div>
		</div>
	</div>

</div>

