
<section class="product-shop spad page-details">
	<div class="container">
		<div class="row">	
				<div class="col-lg-11">
						<div class="d-flex justify-content-center mt-1 mb-4">
						<%if @project.image.attached?%>
							<%= image_tag @project.banner, alt: 'project image', class:"my-4 mx-4" %>
							<div class="product-image text-center">
								<% if current_user == @project.owner %>
									<%= link_to "Changer l'image", edit_project_path(@project.id)%>
								<%end%>
							</div>
						<%else%>
							<img src="https://www.northviewapts.com/images/no-image.jpg" alt="placeholder" class="my-4 mx-4">
							<div class="product-image text-center">
							<% if current_user == @project.owner %>
							<%= render 'images/images_form', project: @project %>
							<%end%>
							<%end%>
							</div>
						</div>
					</div>

						<br>

						<div class="product-details shadow p-3 mt-3 mb-5 bg-white rounded">

							<div class="pd-title text-center">
								<br><h1> Projet : <%= @project.title.capitalize %> </h1>
								<br>
							</div>

							<div class="pd-desc">
								<% if @project.state == "published" ||  @project.state == "finished" %>
									<h4>Le projet en 2 mots </h4>
										<p><%= @project.short_description %> </p>
										<br>
									<h4>Description détaillée du projet </h4>
										<% if user_signed_in? %>
										<p><%= @project.long_description %> </p>
										<%else%>
										<p><%= link_to 'Connectez-vous', user_session_path%> pour voir cette information.</p>
										<%end%>
										<br>
									<h4>Projet proposé par : </h4>
										<p><%= @project.owner.first_name.capitalize %> <%= @project.owner.last_name.capitalize %> </p>
										<br>
									<h4>Dates : </h4>
										<p>Commence le <%= @project.start_date.strftime("%d/%m/%Y à %I:%M") %> </p>
										<p>Termine le <%= @project.end_date.strftime("%d/%m/%Y à %I:%M") %> </p>
										<br>
									<h4>Places disponibles :  <%= @project.attendees_goal.to_i - @project.attendees.length.to_i %></h4><br>
									<h4>Participants : </h4>
										<% if user_signed_in? %> <% @project.attendees.each do |participant|%>
											<ul>
												<p><li><%= participant.first_name %> <%=participant.last_name.capitalize %> </li></p>
											</ul>
											<% end %>
											<%else%>
											<p><%= link_to 'Connectez-vous', user_session_path %> pour voir cette information.</p>
											<%end%>
									<br>
									<h4>Prix :</h4	>
										<p><%= @project.package.price_attendee.to_f / 100 %> €</p>
										<br>
									
									<%= button_to "S'inscrire à ce projet", new_project_attendance_path(@project.id), method: 'get', class:"btn btn-primary"%>
									
									<p><%= button_to "Voir les autres projets", projects_path, method: 'get', class:"btn btn-secondary" %></p>
									
									Partager ce projet sur <br> <%= link_to image_tag('https://www.facebook.com/images/fb_icon_325x325.png', height: '60', width: '60'), 'http://www.facebook.com/sharer.php?u=https://dazzle-yourself.herokuapp.com'+request.fullpath, :target => :blank %>

									
									<% if current_user == @project.owner%>

									<%= render 'ownerproject' %>
									
										<% if @project.state == "draft" %>
										<p>Vous n'avez pas encore publié votre projet.</p>

										<%= link_to "Editer ou publier le projet", edit_project_path(@project.id)%>
										<% end %> 
										<%= link_to "Créer un nouveau projet", new_project_path%>

									<% end %>

									<% end%>

							</div>
						</div>
					</div>
				</div>
			</div>

</section>
