
<%= render 'heroimagehome' %>
 <%= render 'layouts/flash'%>

<%= render 'services' %>
<%= render 'pagelist', projects: @projects %>


<h5>Vous avez une idée de projet ? </h5>
<%= render 'layouts/heroimage' %>