  <div class="center-card">
    <div class="container text-center my-4 items-align-center">
     <div class="flex-row flex-direction">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left2 d-none d-md-flex">
           
         </div>
         <div class="card-body my-4">
          <h2 class="text-primary"><i class="fas fa-user-circle" style="margin-right: 1rem;"></i>Se connecter</h2>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field my-4">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "regularform" %>
          </div>
          <div class="field my-4">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "regularform" %>
          </div>
          <div class="my-4">
          <% if devise_mapping.rememberable? %>
            <div class="field my-4">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          </div>
          <% end %>
          <div class="actions my-4">
            <%= f.submit "Connexion", class: "btn btn-primary" %>
          </div>
          <% end %>
          <div class="my-3">
          <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>