<div class="container bootstrap snippet m-6">
  <br>
  <div class="row m-6">

    <table class="table" style="width: 80%;">

      <tbody>

        <h2> Informations sur le participant </h2>
        <tr class="table-light" >
          <th scope="row" style="width: 20%" >Prénom : </th>
          <td><%= @user.first_name %></td>
        </tr>
        <tr class="table-light" >
          <th scope="row" >Nom : </th>
          <td><%= @user.last_name %></td>
        </tr>
        <tr class="table-light" >
          <th scope="row">Email : </th>
          <td><%=  @user.email %></td>
        </tr>
        <tr class="table-light" >
          <th scope="row">Admin : </th>
          <td><%=  @user.is_admin %></td>
        </tr>
        <tr class="table-light" >
          <th scope="row">Compte créé le : </th>
          <td><%=  @user.created_at %></td>
        </tr>
        <tr class="table-light" >
          <th scope="row">Projets proposés et validés :</th>
          <td>
            <% if @projects_o %>
              <%= @projects_o.length %>
            <%end%>
          </td>
        </tr>
        <tr class="table-light" >
          <th scope="row">Projets effectués :</th>
          <td>
            <% if @projects_a %>
            <%= @projects_a.length %>

            <%end%>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
  

    <%= button_to "Modifier les informations de l'utilisateur", edit_admin_user_path(@user.id), class:"btn btn-dark", method:"get" %>
    <br> 
    <%= button_to "Supprimer l'utilisateur", admin_user_path(@user.id), class:"btn btn-danger", method:"delete", data: { confirm: 'Souhaitez-vous supprimer définitivement ce ?' } %><br>
      <%= button_to "Retour à la liste des utilisateurs", admin_users_path, class:"btn btn-info", method:'get' %>  

</div>