<footer class="page-footer font-small mt-4 pt-4 " >
  
<div class="container">

  <!-- Grid row -->
  <div class="row text-center">

    <!-- Grid column -->
    <div class="col-sm text-left">

      <!-- Content -->
      <h5 class="text-uppercase">FOLLOW US</h5>
      <p>Une question ? N'hésitez pas à nous contacter et à suivre nos actualités sur les réseaux !</p>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-sm text-center">

      <!-- Links -->
      <h5 class="text-uppercase">Qui sommes nous</h5>

      <ul class="list-unstyled">
        <li>
      <%= link_to 'À propos de nous', aboutus_path %>      
        </li>
      </ul>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-sm text-right">

      <!-- Links -->
      <h5 class="text-uppercase">Dazzle yourself</h5>

      <ul class="list-unstyled">
        <li> Le site Dazzle Yourself est un projet final réalisé pour le bootcamp The Hacking Project.</li>
        <li>
          <%= link_to "Illustrations by WebPixels", "https://webpixels.io/illustrations", target: "_blank", rel: "nofollow" %>
        </li>
      </ul>

    </div>

    <!-- Grid column -->
    </div>
    <div class=" text-center">
      <ul class="list-inline social-buttons">
        <li class="list-inline-item text-center">
          <%= link_to "https://twitter.com/explore" do%>
            <i class="fab fa-twitter"></i>
          <%end%>
        </li>
        <li class="list-inline-item text-center">
          <%= link_to "https://www.facebook.com/" do%>
            <i class="fab fa-facebook-f"></i>
          <%end%>
        </li>
        <li class="list-inline-item text-center">
          <%= link_to "https://www.linkedin.com/" do%>
            <i class="fab fa-linkedin-in"></i>
          <%end%>
        </li>
      </ul>
    </div>
  
  <!-- Grid row -->

</div>
<!-- Footer Links -->

<!-- Copyright -->
<div class="footer-copyright text-center py-3">© 2020 Copyright:
  <span> Dazzle Yourself (<span class="copyright">By GeekyGirlsParis</span>
    <i class="fas fa-heart"></i>)</span>
</div>
<!-- Copyright -->

</footer>
<!-- Footer -->
