<nav id="mainNav" class="navbar navbar-expand-lg navbar-dark sticky-top navbar-shrink">
  <div class="container">
    <%= link_to root_path do %>
    <%= image_tag asset_path("dazzle_logo.png"), alt: "Dazzle logo", height: 68 %>
    <%end%>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse bg-menu" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase mr-auto">
        <li class="nav-item">
          <li><%= link_to "Participer à un projet", projects_path, class:"nav-link" %></li>
        </li>
        <li class="nav-item">
          <li><%= link_to "Proposer un projet", homepage_path, class:"nav-link"%></li>
        </li>

        <li >

        <% if user_signed_in? %>
          <% if attendance(current_user) == true || ownership(current_user) == true %>
            <% if current_user.ongoing_project != nil %>
              <%= link_to '>> PROJET EN COURS', myproject_path, class:"btn btn-sm btn-warning nav-link", method:'get' %>
            <% end %>
          <% end %>
        <%end%>

      </li>
      

      </ul>
      <span class="navbar-nav ml-auto">
        <div class="dropdown">
          <% if user_signed_in? %>
          <a class="nav-link dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user", style="margin-right: 12px;color: white;"></i>MON ESPACE</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><%= link_to "Mon profil", edit_user_path(current_user.id), class:"dropdown-item"%></li>
            <li><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class:"dropdown-item"%></li>
          </div>
          <%else%>
          <a class="nav-link dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user", style="margin-right: 12px;color: white;"></i>SE CONNECTER</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><%= link_to "S'inscrire", new_user_registration_path, class:"dropdown-item" %></li>
            <li><%= link_to "J'ai déjà un compte", new_user_session_path, class:"dropdown-item" %></li>
          </div>
        </div>
        <%end%>
      </span>
    </div>
  </div>
</nav>