<!DOCTYPE html>
<html>
  <head>
    <title>DazzleYourself</title>
    <html lang="fr">
    <!-- CSRF meta -->
    <%= csrf_meta_tags %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>
    <!-- Asset pipeline -->
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => "reload" %>
    
    <!-- Primary Meta Tags -->
    <title>Développez un projet entrepreneurial en équipe en un temps record </title>
    <meta name="title" content="Développez un projet entrepreneurial en équipe en un temps record ">
    <meta name="description" content="Viens vivre une expérience entrepreneuriale de quelques jours et de chez toi. Que tu sois développeur, graphiste, chef de projet, marketeur ou encore consultant, tu développeras tes compétences et tes forces mais aussi ta capacité à aller vite pour construire le fameux 'MVP' d'une startup.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://dazzle-yourself.herokuapp.com/">
    <meta property="og:title" content="Développez un projet entrepreneurial en équipe en un temps record ">
    <meta property="og:description" content="Viens vivre une expérience entrepreneuriale de quelques jours et de chez toi. Que tu sois développeur, graphiste, chef de projet, marketeur ou encore consultant, tu développeras tes compétences et tes forces mais aussi ta capacité à aller vite pour construire le fameux 'MVP' d'une startup.">
    <meta property="og:image" content="">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="http://dazzle-yourself.herokuapp.com/">
    <meta property="twitter:title" content="Développez un projet entrepreneurial en équipe en un temps record ">
    <meta property="twitter:description" content="Viens vivre une expérience entrepreneuriale de quelques jours et de chez toi. Que tu sois développeur, graphiste, chef de projet, marketeur ou encore consultant, tu développeras tes compétences et tes forces mais aussi ta capacité à aller vite pour construire le fameux 'MVP' d'une startup.">
    <meta property="twitter:image" content="">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <%= render 'layouts/header_homepage' %>
  <%= render 'layouts/flash'%>
  <div class="shadow-sm">
  <%= yield %>
 </div>
  <div class="p-3 mt-3 mb-2">
  <%= render 'layouts/footer'%>
  </div>
  </body>
  <script src="https://kit.fontawesome.com/d714c2541d.js" crossorigin="anonymous"></script>
</html>
  
