<!DOCTYPE html>
<html>
  <head>
    <title>DazzleYourself</title>
    <html lang="fr">
    <%= csrf_meta_tags %>
    <meta charset="UTF-8">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/header' %>
  <%= render 'layouts/flash'%>
  <%= yield %>
  <%= render 'layouts/footer'%>
  </body>
</html>
